html, body, :root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
}

#redwood-app {
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
}

.page > .page-body {
  flex-grow: 1;
  width: 100%;
  margin-top: 24px;
}

.page > .page-body-non-success-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
